* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 40px;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #2b0033;
    color: #b6ff00;
}

h1 {
    text-align: center;
    color: #b6ff00;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.quiz-container {
    max-width: 700px;
    margin: auto;
    padding: 30px;
    border: 2px solid #ffffff;
}

.question {
    margin-bottom: 25px;
    padding: 15px;
    border-left: 4px solid #b6ff00;
}

.question p {
    margin: 0;
    font-size: 18px;
}

.question small {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 14px;
}
button {
    padding: 10px 20px;
    color: black;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #a9bd99;
}

.correct {
    color: #00ff66;
    font-weight: bold;
}

.wrong {
    color: #c11414;
    font-weight: bold;
}
h2 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}